<div class="container">
  {{#md-card
     title=model.lastObject.name
     class="teal"
     titleClass="white-text"
     bodyClass="white-text"
     id="address-card"}}
    {{#md-card-content class="white-text"}}
      <p>{{model.lastObject.street1}}</p>
      <p>{{model.lastObject.street2}}</p>
      <p>{{model.lastObject.city}}, {{model.lastObject.state}} {{model.lastObject.zip}}</p>
    {{/md-card-content}}
  {{/md-card}}
</div>
